.create-ticket-layout {
    display: flex;
    gap: 30px;
    padding: 30px;
    justify-content: space-between;
    align-items: flex-start;
}

.matches-list {
    flex: 2;
    background: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
    max-height: 85vh;
    overflow-y: auto;
}

.ticket-form {
    flex: 1;
    background: #fff;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.15);
    position: sticky;
    top: 30px;
}

.cota-button {
    padding: 8px 12px;
    margin: 4px;
    border-radius: 6px;
    background-color: #2563eb; /* albastru normal */
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

.cota-button:hover {
    background-color: #1d4ed8;
}

.cota-blocata {
    background-color: #9ca3af; /* gri */
    cursor: not-allowed;
    pointer-events: none;
    opacity: 0.6;
}
